# Python Virtual Environments
venv*/
venv310/
__pycache__/
*.pyc

# Archives & Temporary Files
*.zip
*.log
*.dat
*.ini
output.txt
catboost_info/
PricePilot-AI_Vaishnavi_Shingate/
pricepilot-ai/
src/

# Large Model Binaries (>100MB)
price_model.pkl

# IDE & OS
.vscode/
.idea/
.DS_Store
